div.calculator {
    width: 320px; height: 520px; 
    background: white; border-radius: 30px; border: 1px solid black; 
    box-shadow: 1px 2px 2px black;
}
.result {
    height: 120px; padding: 20px;
}
.keyboard {
    height: 400px;
}
.history-value {
    font-size: 20px; color: gray; text-align: right; line-height: 2;
}
.output-value {
    font-size: 52px; text-align: right;
}
div.keyboard {
    display: grid; grid-template-columns: repeat(4,1fr); grid-template-rows: repeat(5,1fr); grid-gap: 10px;
    padding: 25px 20px;
}
div.keyboard > button {
    width: auto; height: auto;  background: white;
    border-radius: 50%; border: none;
    /* float: left; */
    font-size: 16px; font-weight: bold;
    cursor: pointer;
}
div.keyboard > button:focus {
    outline: none;
}
div.keyboard > button.number:hover {
    background: black; color: white; transition: .2s;
}
div.keyboard > button:nth-child(1), div.keyboard > button:nth-child(2), div.keyboard > button:nth-child(3) {
    background: #eaedef;
}
div.keyboard > button:nth-child(4) {
    font-size: 18px;
    background: #20beaa
}
div.keyboard > button:nth-child(8) {
    font-size: 18px;
    background: #ffa500
}
div.keyboard > button:nth-child(12) {
    font-size: 18px;
    background: #f08080
}
div.keyboard > button:nth-child(16) {
    font-size: 18px;
    background: #7d93e5
}
div.keyboard > button:nth-child(20) {
    font-size: 18px;
    background: #9477af
}
