* {
  box-sizing: border-box;
}
body,
div,
p,
h1,
h2,
h3,
h4,
ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: url('../img/background.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: sans-serif;
}

#container > section {
  display: block;
  position: absolute;
  box-shadow: 3px 3px 50px -10px black;
}

#weather {
  left: 50px;
  top: 50px;
}

#calculator {
  left: calc(680px + 50px);
  top: 50px;
}

#todoList {
  left: calc(340px + 50px);
  top: 50px;
}

#paint {
  right: 10%;
  top: 150px;
}

.dragbar {
  width: 100%;
  height: 22px;
  background: linear-gradient(#e9eeed, #cbcdcf);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: -13px;
  left: 0;
  display: flex;
  align-items: center;
  cursor: grab;
}

.dragbar > span {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
  position: relative;
  z-index: 90;
}

.dragbar__closeBtn {
  margin-left: 10px;
  background: #ee6665;
  border: 1px solid #cc5656;
  font-size: 12px;
  color: #753030;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

.dragbar > span:nth-child(2) {
  background: #f1c14f;
  border: 1px solid #cca241;
}

.dragbar > span:nth-child(3) {
  background: #62cb5d;
  border: 1px solid #57b352;
}

#taskbar {
  width: 350px;
  height: 82px;
  padding: 10px 20px;
  background: rgb(255, 255, 255, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 3px 3px 20px -2px rgb(0, 0, 0);
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 90;
  display: flex;
  justify-content: space-around;
}

#taskbar > div {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 91;
  position: relative;
  animation: icon_animation 2s ease-in infinite;
  cursor: pointer;
}

#taskbar > div.active {
  animation: none;
}

#taskbar > div::after {
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 27px;
  transition: 0.5s;
}

#taskbar > div.active::after {
  background: rgb(48, 48, 48);

  transition: background-color 0.5s;
}

.taskbar__weather_icon {
  background: url('../img/weather_icon.png') no-repeat;
  background-size: contain;
}

.taskbar__calculator_icon {
  background: url('../img/calculator_icon.png') no-repeat;
  background-size: contain;
}

.taskbar__todoList_icon {
  background: url('../img/todoList_icon.png') no-repeat;
  background-size: contain;
}

.taskbar__paint_icon {
  background: url('../img/paint_icon.png') no-repeat;
  background-size: contain;
}

@keyframes icon_animation {
  0% {
    top: 0px;
  }
  10% {
    top: -20px;
  }
  20% {
    top: 0px;
  }
  30% {
    top: -20px;
  }
  40% {
    top: 0;
  }
  100% {
    top: 0px;
  }
}

.copyright {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 16px;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0.5;
}
