* {
    margin: 0; padding: 0; box-sizing: border-box; list-style: none;
}
* > body { 
    all: unset;
    width: 100vw; height: 100vh;
    display: flex; justify-content: center; 
    background: url("../img/background.jpg") no-repeat; background-size: cover;
    overflow: hidden;
}
#container {
    width: 1300px; height: 750px;
    align-self: center;
    position: relative;
}
#container > div {
    position: absolute;
    box-shadow: 3px 3px 20px -2px rgb(0, 0, 0);
}
#container > div.weather {
    left: 0; top: 0;
}
#container > div.calculator {
    left: 0; bottom: -140px;
}
#container > div.todoList {
    left: 340px; top: 0;
}
#container > div.paint {
    right: 0; top: 0;
}

div.drag_bar {
    position: absolute; top: -13px; left: 0;
    width: 100%; height: 23px; background: linear-gradient(#e9eeed, #cbcdcf);
    border-top-left-radius: 10px; border-top-right-radius: 10px;
    display: flex; align-items: center;
    cursor: grab;
}
div.drag_bar > span {
    width: 12px; height: 12px; border-radius: 50%;
    margin-right: 5px;
}
div.drag_bar > span:nth-child(1) {
    margin-left: 10px;
    background: #ee6665; border: 1px solid #cc5656;
}
div.drag_bar > span:nth-child(2) {
    background: #f1c14f; border: 1px solid #cca241;
}
div.drag_bar > span:nth-child(3) {
    background: #62cb5d; border: 1px solid #57b352;
}